{
  "extends": "@antfu",
  "rules": {
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never"
      }
    ],
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "@typescript-eslint/brace-style": ["error", "1tbs", { "allowSingleLine": true }]
  }
}
